				<!-- Intro -->
                <section id="intro" class="wrapper style1 fullscreen fade-up">
                    <div class="inner">
                        <h1>Louis Quiles</h1>
                        <p>This website will be used to display all the projects I've worked on. </p>
                        <ul class="actions">
                            <li><a href="#one" class="button scrolly">Learn more</a></li>
                        </ul>
                    </div>
                </section>
